:root {
    --biloba-flower: #B59FF4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background: var(--biloba-flower);
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

main {
    background-image: url(../assets/imgs/gecko.jpg);
    background-position: center;
    width: 100%;
    height: 100%;
}