:root {
    --pearl-night-blue: #102c54;
    --scarlet: #ff0040;
    --white-12: #F3F3F3;
    --small-letter: 2.6vh;
    --medium-letter: 3.2vh;
    --large-letter: 5.2vh;
}

header {
    grid-template-columns: 2fr 1fr 7fr 2fr;
}

main {
    grid-template-columns: 2fr 8fr 2fr;
}

main #home article p {
    width: 90%;
}

main #about div {
    grid-auto-rows: 9vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 7.2vw;
}

main #about div h3 {
    grid-area: 1 / 1 / 2 / 5;
}

@media screen and (max-height: 320px) {

    main #home figure img {
        max-height: 60vh;
    }
    
}