:root {
    --black-21: #111113;
}

header nav {
    padding: 0 7.2rem;
}

header nav .nav-menu li {
    padding: 0 0 0 7.2rem;
}

header section {
    padding: 0 7.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header section article {
    padding: 0;
}

header section figure {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

header section figure img {
    height: 88%;
}