header section article .about-info {
    height: 58%;
}

header section article .about-info h1 {
    font-size: 5.2rem;
    max-width: 860px;
}

header section article .about-info p {
    font-size: 2.6rem;
    max-width: 948px;
}

header section article .about-info a {
    font-size: 2.8rem;
}

header section article .about-top-botton {
    height: 21%;  
}

header section article .about-top-botton a {
    font-size: 2.6rem;
}