header nav .nav-default {
    height: 12%;
}

header nav .nav-menu {
    height: 88%;
}

header section article .about-info h1 {
    font-size: 3.21rem;
    max-width: 360px;
}

header section article .about-info p {
    font-size: 1.6rem;
}

header section article .about-info a {
    font-size: 1.8rem;
}

header section article .about-top-botton a {
    font-size: 1.6rem;
}