header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

header section {
    display: none;
}

header nav .nav-default #menu-icon {
    display: none;
}

header .unsupported-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    font-size: 2.1rem;
    font-weight: bold;
    color: var(--white-21);
    height: 21%;
}

header .unsupported-screen span {
    color: var(--azure);
}