html {
    font-size: 1.6rem;
}

header nav {
    padding: 0 1%;
}

header nav .nav-bar {
    width: 98%;
}

main {
    padding: 1%;
}

footer {
    padding: 0 1%;
}

footer section {
    padding: 1% 0;
}

a {
    font-size: 0.8rem;
}

.getInTouch {
    padding: 0.6%;
}