:root {
  --bd-color: white;
  --ft-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  height: 100%;
}

header {
  color: var(--bd-color);
  background: var(--ft-color);
  width: 100%;
  height: 100%;
}

header nav {
  padding: 0 3%;
  font-weight: bold;
  height: 6%;
}

header nav .nav-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--bd-color);
  height: 100%;
}

header nav .nav-bar {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 6%;
  border-bottom: 1px solid var(--bd-color);
  background: var(--ft-color);
  width: 94%;
  height: 12%;
}

header section {
  height: 94%;
}

header section .flcece {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 18%;
}

header section .triangle-top {
  width: 0;
  height: 12%;
  border-top: 9vh solid var(--ft-color);
  border-right: 96vw solid var(--bd-color);
}

header section article {
  padding: 0 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  line-height: 1.2;
  color: var(--ft-color);
  background: var(--bd-color);
  width: 96vw;
  height: 40%;
}

header section .triangle-botton {
  width: 0;
  height: 12%;
  border-bottom: 9vh solid var(--ft-color);
  border-left: 96vw solid var(--bd-color);
}

main {
  padding: 3%;
  background: var(--ft-color);
  width: 100%;
  height: 100vh;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: var(--ft-color);
  background: var(--bd-color);
  height: 100%;
}

footer {
  padding: 0 3%;
  background: var(--bd-color);
  width: 100%;
  height: 100vh;
}

footer section {
  padding: 3% 0;
  height: 94%;
}

footer section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: var(--bd-color);
  background: var(--ft-color);
  height: 100%;
}

footer .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-top: 1px solid var(--ft-color);
  color: var(--ft-color);
  height: 6%;
}

a {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--bd-color);
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.6rem;
}

p {
  font-size: 1.1rem;
}

ul {
  list-style: none;
}

.getInTouch {
  padding: 2.1%;
  font-size: 1.6rem;
  border-radius: 6px;
  color: var(--bd-color);
  background: var(--ft-color);
}

.material-icons {
  cursor: pointer;
}

.sd-color {
  font-weight: bold;
  color: var(--ft-color);
}

.dark-mode {
  --bd-color: black;
  --ft-color: white;
}